.widget_search,
.form-search {
	margin-bottom: 50px;
	position: relative;
	@media only screen and (max-width: 768px) {
		margin-bottom: 15px;
	}
	label {
		display: none;
	}
	#s {
		width: 100%;
		background-color: #f2f2f2;
		border-radius: 10px;
		border: 1px solid transparent;
		padding: 7px 40px 7px 15px;
		outline: 0;
		-moz-transition: 0.3s;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		&:hover {
			border: 1px solid #17aab9;
		}
	}
	.form-control:focus {
		box-shadow: 0 0 0 2px #17aab9;
	}
	.input-group-append {
		position: absolute;
		top: 8px;
		right: 10px;
		z-index: 999;
		.input-group-text,
		.idt-search-submit {
			border: 0;
			padding: 0;
			background: none;
			.idt-search-submit {
				i {
					color: #969696;
					font-size: 18px;
					-moz-transition: 0.3s;
					-webkit-transition: 0.3s;
					transition: 0.3s;
					&:hover {
						color: #17aab9;
					}
				}
			}
		}
	}
}